.container {
    padding: 0 2rem;
  }

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.introductoryPhrase {

}

.cakeicon {
    position: absolute;
    width: 128px;
    height: 128px;
    left: 150px;
    top: 216px;
}

.button {
    display: flex;
}